body {
  color: #015551;
  background-color: #fff;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*  Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
  width: 400px;
  height: 400px;
  background-color: #fdfbee;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 70%;
  outline: #015551;
}

.panel #guess {
  width: 10ch;
  padding: 2px 5px;
  border-radius: 6px;
  border: 1px solid #57b4ba;
  margin-left: 10px;
  outline: none;
}

.panel #guess,
.panel label {
  color: #015551;
  font-size: 1.2rem;
  height: 40px;
}

.input {
  margin-bottom: 20px;
}

#messages,
#counter {
  height: 20px;
}

#try {
  width: 90px;
  height: 40px;
  border-radius: 6px;
  border: none;
  color: #fdfbee;
  background-color: #015551;
  transition: transform 0.3s, background-color 0.3s;
}

#try:active {
  transform: scale(1.1);
  background-color: #036d68;
}

#try:disabled {
  color: #ffffff;
  background-color: #8aa4a3;
}
